:root{
  --primary : #aaa;
  --secondary: green;
  --ternary: yellow;
  --bg:#242424;
  --grey:red;
}


.wrapper {
    margin-top: 1rem;
  max-width: 350px;
  /* outline: 1px solid lime; */
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
}
form input {
  width: 100%;
  padding: 0.9rem;
  border: none;
  font-size: 1rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
form input:focus {
  outline: none;
}
form input,
textarea {
  background-color: #585858;
}
form button {
  padding: 0.9rem;
  width: 40%;
  background-color: var(--primary);
  color: #242424;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
